<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <h1>Premiere League</h1>
    <div class="container" id="team-container"></div>


</body>
<script src="/Js/team.js"></script>

</html>